@charset "utf-8";

:root {
    --main-color : #FF3333;
    --op-main : #FE4747;
    --main-font :'Pretendard', sans-serif;
}

/* -----
    COMMON input 
----- */
.col {display: inline-flex; width: 100%; align-items: center; gap: 20px; white-space: nowrap; font-size: 1.8rem; margin-bottom: 18px;}
.col span {width: 20%;}
.col label {width: 100%;}
small {display: block; color: #888; font-weight: 500; margin-left: 18%;}
input[type=password], input[type=text], input[type=number], input[type=email], input[type=tel]
{ text-align: left; font-size: 1.6rem; padding: 16px; margin-top: 3px; width: 100%; border-radius: 8px; border: 1px solid #eee;}

select { color: #232323; font-family: var(--main-font);  width: 100%; font-size: 1.6rem;  padding: 16px; margin-top: 3px; border-radius: 8px; border: 1px solid #eee;}
span>small {color: var(--main-color); display: inline-block; margin: 0;}

/* -----
    로그인 페이지 
----- */
#login_area {padding: 80px 0;}
.login_inner { max-width: 500px; margin:  0 auto; padding: 20px 60px; box-shadow: 7px 9px 13px #8b8a8a8f; border-radius: 30px;}
.top_wrap {padding: 20px 0 30px;}

/* .img {font-size: 0; width: 60px; height: 60px; background: url(../img/common/login_check.png) no-repeat center / 100%;} */

.login_inner .tit_area h2 { font-size: 3rem; font-weight: 700; }
.login_inner .tit_area h2+p {font-size: 1.6rem; color: #666;}
.login_inner .tit_area p>a { display: inline-block; padding: 2px 8px; font-size: 1.6rem; color: var(--main-color); }

.input_area {padding: 20px 0 10px;}
.text_id {margin-bottom: 10px;}

.sub_area {padding-bottom: 25px ; display: flex; justify-content: space-between; font-size: 1.4rem;}
.auto_login {display: inline-flex; gap: 6px; align-items: center;}
input[type=checkbox] { appearance: none; position: absolute; }

.check_on { position: relative; height: 20px; width: 20px; background: #ccc; border-radius: 50%; display: inline-block; transition: all 0.5s;}
.check_on::after { display: block; content: ""; position: absolute; left: 50%; top: 42%; transform: translate(-50%, -50%) rotate(45deg); width: 4px; height: 10px; border: solid #fff; border-width: 0 2px 2px 0; border-radius: 2px; }
input[type="checkbox"]:checked + .check_on { background: var(--main-color); }

a.go_link { display: inline-block; position: relative; font-size: 1.4rem; color: #666;}
a.go_link::before { display: block; content: ""; position: absolute; width: 100%; height: 1px; background: #888; bottom: 0; left: 0; }

.btn_login > a { display: block; padding: 12px; width: 100%; text-align: center; font-size: 1.8rem; background: #fff; border-radius: 100px; border: 1px solid var(--main-color); opacity: 0.9; transition: all 0.5s;}
.btn_login:hover>input { background: #eee; border-color: #eee; } 

.btn_join {padding: 20px 0; position: relative;}
.btn_join::after { display: block; content: ""; width: 100%; height: 1px; background: #ddd; position: absolute; top: 0; left: 0;}
.btn_join > a { display: block; padding: 12px; width: 100%; text-align: center; font-size: 1.8rem; background: var(--main-color); color: #fff; border-radius: 100px; border: 1px solid transparent; opacity: 0.9; transition: all 0.5s;}

.btn_join:hover > a { opacity: 1; color: #fff; border-color: var(--main-color); }

/* -----
    IP 접속 확인 페이지 
----- */
#choice_nation h2{ position: relative; padding: 60px 0 20px; font-size: 3rem; font-weight: 700; text-align: center;}
#choice_nation h2::after { display: block; content: ""; width: 8%; height: 3px; background: var(--main-color); position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);}

.gonfalon {width: 32px; height: 22px;}
.gonfalon>img {width: 100%;}

/* choice_nation */
#choice_nation {padding: 30px 0 120px;}
.grid_con {margin: 30px auto 0; display: grid; grid-template-columns: repeat(3, 1fr);}
.nation {display: flex; gap: 10px; align-items: center; padding: 50px 30px; border: 1px solid #ddd; transition: all 0.5s;}
.nation:hover {color: #fff; background: var(--main-color);}

/* -----
    회원가입 페이지 
----- */
.join_con {padding: 80px 0; max-width: 1000px; margin: 0 auto;}
.join_con h2 {font-size: 3.2rem; font-weight: 600; text-align: center;}

.sec_title { padding: 16px; margin: 12px 8px; width: 100%; border-bottom: 1px solid #222;}
.sec_title h4 { display: inline-block; margin-right: 12px; font-size: 2rem; font-weight: 600;}
.sec_title h4+span { font-size: 1.6rem; color: var(--main-color); font-weight: 500;}

/* 휴대폰 인증 btn */
.phone_col { width: 100%; display: flex; align-items: center; gap: 6px; }
.phone_col label { width: 100%; }
label.phone { display: inline-flex; gap: 6px; align-items: center; }
label.phone + button { margin: 3px 0 10px; padding: 8px 20px; border-radius: 10px; border: 1px solid var(--main-color); background: #fff; color: var(--main-color); transition: all 0.5s; }
label.phone + button:hover { background: var(--main-color); color: #fff; }

.b_group { width: 100%; display: flex; align-items: center; gap: 20px; justify-content: space-between;}
.b_group label > input , .pw_info > input{ text-align: center; } 
.b_group label >  input.id-first { width: 50px; }

/* select */
.tel span { display: inline-block; font-size: 1.8rem; }

/* 이용약관 */
.target { display: block; top: 0; left: 0; position: fixed; }
.open-accordion { display: block; }
.close-accordion { display: none; }
:target ~ .open-accordion { display: none; }
:target ~ .close-accordion { display: block; }

.accordion { display: flex; flex-direction: column; gap: 1.5rem; }
.accordion__li { position: relative; width: 100%; background: white; border-radius: 0.4rem; padding: 2rem;}
.accordion__li a > div { display: flex; justify-content: space-between; align-items: center; cursor: pointer; }
.accordion__li a > div div { display: flex; align-items: center; }
.accordion__num { font-size: 1.8rem; margin-right: 1.3rem; }
.accordion__title { font-size: 1.6rem; }

span.down, span.hide { border-bottom: 1px solid #666; padding-bottom: 1px; font-size: 1.3rem; position: absolute; right: 0; bottom: 0; margin-bottom: 20px; transition: all 0.5s;}
/* span.show::before, span.::before {display: block; content: ""; height: 1px; bor} */
span.down:hover, span.hide:hover {color: var(--main-color);} 

label.agree {display: inline-flex; align-items: center; padding: 5px; gap: 6px;}

/* When accordion is open */
.accordion__content { font-size: 1.6rem; line-height: 1.5; height: 0; overflow: scroll; transition: all 0.3s ease-in-out; }
.accordion__li:first-of-type :target ~ .accordion__content { height: 250px; padding-top: 1rem;}
.accordion__li:nth-of-type(2) :target ~ .accordion__content {height: 13rem; padding-top: 1rem; }
.accordion__li:last-child :target ~ .accordion__content { height: 15.4rem; padding-top: 1rem;}

/* 회원가입 및 진행 취소 버튼 */
.btn_final { display: flex; flex-wrap: wrap; justify-content: center; gap: 8px; padding: 80px 0 ;}
.btn_final>a { display: block; padding: 12px 48px; font-size: 1.8rem; border-radius: 10px;}
.btn_final>a.del { border: 1px solid var(--main-color); transition: all 0.5s; }
.btn_final>a.join { border: 1px solid var(--main-color); background: var(--op-main); color: #fff; opacity: 0.9; transition: all 0.5s;}

.btn_final>a.del:hover { background: var(--main-color); color: #fff; }
.btn_final>a.join:hover { background: var(--main-color); }
