<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>
        .mail_alarm {
            display: none;
        }

        .mail_alarm dl {
            position: sticky;
            top: 30%;
        }

        .mail_alarm dt>strong {
            display: block;
            font-weight: 600;
            margin: 0 !important;
        }

        .mail_alarm dl dd.muted_txt {
            margin: 0 0 20px 0;
        }
    </style>
</head>

<body>
    <div class="modal mail_alarm">
        <div class="modal_content">
            <dt class="strong">알림</dt>
            <dd class="body">메일이 정상적으로 작성되었습니다.</dd>
            <div class="okay" href="./login/mail_in.html">확인</div>
        </div>
    </div>

    <script></script>
</body>

</html>